@{
    ViewData["Title"] = "Home Page";
}
<style>
  
    img {
        height: 14vw;
        width: 57vw;
        
    }
    
    .image-center {
          position: fixed;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }
    
    
  
    
    p {
            font-size: 18px;
            line-height: 1.5;
            margin-bottom: 20px;
            color: var(--bg-color);
        }
</style>




<div class="image-center">
    <img src="~/Images/Work.png" alt="My Image">
</div>
