@{
    ViewData["Title"] = "Privacy policy";
}
<div class="container">
    <h1>@ViewData["Title"]</h1>
    <p>Dear user,</p>
    
    <p>Thank you for visiting our website for .NET course at Politechnika Wrocławska for the Spotify Organizer ASP Core app. We take your privacy very seriously and want to ensure that you feel comfortable using our website and providing us with your personal information.</p>
    <p>As part of our commitment to protecting your privacy, we would like to inform you of our data collection and processing practices. When you visit our website, we may collect certain information about you, such as your IP address and browser type. This information is used to help us understand how our website is being used and to improve our services.</p>
    <p>If you decide to register, we will collect additional information from you, such as your name and email address. This information will be used solely for the purpose of providing you with additional functionality, and will not be shared with any third parties.</p>
    <p>We use industry-standard security measures to protect your personal information, including encryption and password protection. However, please note that no method of transmission over the internet or electronic storage is 100% secure, and we cannot guarantee absolute security.</p>
    <p>If you have any questions or concerns about our privacy practices, please do not hesitate to contact us. We are committed to protecting your privacy and will do our best to address any concerns you may have.</p>
    <p>Best regards,</p>
    <p>M.Szkudlarek and K.Gawerda</p>
</div>